<%= render 'header' %>
     
<% @lists.each do |t| %>
    <div class="content shadow">
        <h2><%= link_to "#{full_position(t)}", list_path(t) %></h2>
        <h4>Date: <%= display_date(t) %></h4>
        
        <h4>Excerpts:</h4>
        <ul>
        <% t.excerpts.each do |e| %>
            <li><%= full_title(e) %> - <%= e.composer.name %></li>
        <% end %>
        </ul>
        
        <% if !user_lists.include?(t) %>
            <%= form_for t do |list| %>
                <%= list.hidden_field :user_ids, :value => @current_user.id %>
                <%= list.submit "Add to My Lists" %> 
            <% end %>
        <% end %>

    </div> 
<% end %>

<% if @current_admin %>
    <div class="content admin">
        <% if params[:user_id] %>
            <%= button_to "New List", new_user_list_path, method: :get %>
        <% else %>
            <%= button_to "New List", new_list_path, method: :get %> 
        <% end %>
    </div>
<% end %>