<% if logged_in? %>
    <%= link_to "Orchestras", orchestras_path %><br>
    <%= link_to "Instruments", instruments_path %><br>
    <%= link_to "Positions", positions_path %><br>
    <%= link_to "Lists", lists_path %><br>
    
    <div id="library">
        <%= link_to "Pieces", pieces_path %><br>
        <%= link_to "Excerpts", excerpts_path %><br>
        <%= link_to "Composers", composers_path %><br>
    </div>
    
<% end %>