<h2><%= @composer.name %></h2>

<ul>
    <% @composer.excerpts.each do |e| %>
        <li><%= full_title(e) %> - Lists: <%= e.lists.count %></li>
    <% end %>
</ul>

<% if admin? %>
    <%= link_to "Edit Composer", edit_composer_path %><br> 
    <%= button_to "Delete Composer", composer_path, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>