<h2>Edit Excerpt</h2>
<%= form_for @excerpt do |e| %>
    <%= e.label "Piece" %>
    <%= e.collection_select :piece_id, Piece.all, :id, :title_and_composer, include_blank: true %><br>

    <%= e.label "Description" %>
    <%= e.text_field :description %><br>

    <%= e.submit %>
<% end %>