<h2>Create a New Excerpt</h2>
<%= form_for @excerpt do |o| %>
    <%= o.label "Title" %>
    <%= o.text_field :title %><br>

    <%= o.label "Composer" %>
    <%= o.collection_select :composer_id, Composer.all, :id, :name, include_blank: true %><br>
    
    <%= o.label "New Composer" %>
    <%= o.text_field :composer %><br>

    <%= o.label "Add to Existing List(s)" %><br>
    <%= o.collection_check_boxes :list_ids, List.all, :id, :date %><br>

    <%= o.submit %>
<% end %>