<div class="content shadow">
    <h2>Create a New Excerpt</h2>
    <%= form_for @excerpt do |e| %>
        <%= e.hidden_field :list_ids %>

        <%= e.label "Piece" %>
        <%= e.collection_select :piece_id, Piece.all, :id, :title_and_composer, include_blank: true %><br>

        <%= e.label "Description" %>
        <%= e.text_field :description %><br>

        <%= e.submit %>
    <% end %>
</div>