<h2><%= full_title(@excerpt) %></h2>
<h4>Composer: <%= link_to "#{@excerpt.composer.name}", composer_path(@excerpt.composer) %></h4>
<p>This excerpt is on <%= pluralize(number_of_lists(@excerpt), 'list') %>.</p>

<% if admin? %>
    <%= link_to "Edit Excerpt", edit_excerpt_path %><br> 
    <%= button_to "Delete Excerpt", excerpt_path, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
