<div class="content shadow">
    <h2>All <%= @instrument.name %> Lists</h2>
    
    <% @instrument.positions.each do |position| %>
        <% if !position.lists.empty? %>
            <h4><%= position.title %></h4>
            <% position.lists.each do |list| %>
                <li><%= link_to "#{list.orchestra.name}", list_path(list) %> - <%= display_date(list) %></li> 
            <% end %> 
        <% end %>
    <% end %>
</div>

<% if admin? %>
    <div id="content admin">
        <%= button_to "Edit Instrument", edit_instrument_path, method: :get %><br> 
        <%= button_to "Delete Instrument", instrument_path, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
<% end %>