  <div>
    <h3>Auditions</h3>
    <%= link_to "Orchestras", orchestras_path %><br>
    <%= link_to "Lists", lists_path %><br>
    <%= link_to "Instruments", instruments_path %><br>
    <%= link_to "Positions", positions_path %><br>
</div>  

<div>
    <h3>Music</h3>
    <%= link_to "Composers", composers_path %><br>
    <%= link_to "Pieces", pieces_path %><br>
    <%= link_to "Excerpts", excerpts_path %><br>
</div>