<% if !current_page? root_path %>
  <%= link_to "Home", root_path %>
<% end %>

<% if @current_user %>
  <% if !current_page? user_lists_path(@current_user) %>
    <%= link_to "My Lists", user_lists_path(@current_user) %>
  <% end %>
<% end %>

<div class="login">
<% if !login_or_signup_path %>
  <% if !@current_user %>
    <%= link_to "Sign Up",  '/signup'%>
    <%= link_to "Log In with Facebook", '/auth/facebook' %>
    <%= link_to "Log In",  '/login'%>
  <% else %>
    <%= link_to "Log Out", '/logout' %>
  <% end %>
<% end %>
</div>

