<!DOCTYPE html>
<html>
  <head id="hd">
    <title>Audition Archive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <h1 id="header">Welcome to the Audition Archive!</h1>

    <% if !current_page? root_path %>
      <%= link_to "Home", root_path %>
    <% end %>

  <body>  
    <%= yield %>
  </body>
  <footer>

    <div id="ft">
      <div id="footer">
        <% if !login_or_signup_path %>
          <% if !logged_in? %>
            <%= link_to "Sign Up",  '/signup'%><br>
            <%= link_to "Log In",  '/login'%><br>
          <% else %>
            <%= link_to "Log Out", '/logout' %>
          <% end %>
        <% end %>

        <% if admin? %>
        <h2>Admin Actions</h2>
            <%= link_to "New List", new_list_path %><br>
            <%= link_to "Pieces", pieces_path %><br>
            <%= link_to "Excerpts", excerpts_path %><br>
            <%= link_to "Composers", composers_path %><br>
        <% end %>
      </div>
    </div>
  </footer>
</html>
