<!DOCTYPE html>
<html>
  <head id="hd">
    <title>Audition Archive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <h1 id="header">Welcome to the Audition Archive!</h1>

    

  <body>

    <div class="topnav">
      <%= render 'layouts/user' %>
    </div>
    
      <div id="main">
        <div class="column left"> 
          <div class="content shadow nav">
            <select name="Search lists by..." id="lists">
              <option value="instrument">instrument</option>
              <option value="position">position</option>
              <option value="orchestra">orchestra</option>
              <option value="all">view all</option>
            </select>
            <!-- render based on this dropdown, rather than list of links -->
            <%= render 'layouts/instruments' %>
          </div>
          <div class="content shadow">
            <%= render 'layouts/library' %>
          </div>
        </div>

        <div class="column right">
          <% flash.each do |type, msg| %>
            <div class="error">
              <%= msg %>
            </div>
          <% end %>
          <%= yield %>
        </div>

  </div>
  </body>

  <footer>
  </footer>
</html>
