<!DOCTYPE html>
<html>
  <head>
    <title>Audition Archive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <h1>Welcome to the Audition Archive!</h1>
    
    <% if admin? %>
      <h2>You are logged in as an Admin.</h2>
    <% end %>

    <% if !current_page? root_path %>
      <%= link_to "Home", root_path %>
    <% end %>

  <body>
    
    <%= yield %><br>

    <% if !login_or_signup_path %>
      <div>
        <% if !logged_in? %>
            <%= link_to "Sign Up",  '/signup'%><br>
            <%= link_to "Log In",  '/login'%><br>
          <% else %>
            <%= link_to "Log Out", '/logout' %>
        <% end %>
      </div> 
    <% end %>

  </body>
</html>
